<!DOCTYPE html>
<html lang="en">
<head>
    <title>Confirmation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
</head>

<body>
<div class="container-fluid">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">Portbase - Noodplanning</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#" th:href="@{/account/request-password}">Forgot password</a></li>
                <li><a href="#" th:href="@{/persons}">Send equipment notification</a></li>
                <li><a href="#" th:href="@{/persons}">Manage persons</a></li>
            </ul>
        </div>
    </nav>
    <h1>Confirmation</h1>
    <p>Thank you. Your new password will be sent to the specified e-mail address within minutes.
        Please check your e-mail.
    </p>
    <p>If you receive <b>no</b> e-mail within 2 minutes, please contact the service desk.</p>
    <br/>
    <h3>Portbase contact details</h3>
    <table>
        <tr>
            <td>Telephone number:</td>
            <td>088 &ndash;  625 25 25</td>
        </tr>
        <tr>
            <td>Emergency number:</td>
            <td>06-51884456 (from 18:00 - 08:00, or 06:00pm - 08:00am)</td>
        </tr>
        <tr>
            <td>e-mail address:</td>
            <td><a href="mailto:servicedesk@portbase.com">servicedesk@portbase.com</a></td>
        </tr>
    </table>
</div>
</body>
</html>
