<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="default-style::head('Confirmation')" />

<body>
<div class="container-fluid">
    <nav th:replace="default-style::menu" />
    <h1>Confirmation</h1>
    <p>Thank you. Your new password will be sent to the specified e-mail address within minutes.
        Please check your e-mail.
    </p>
    <p>If you receive <b>no</b> e-mail within 2 minutes, please contact the service desk.</p>
    <br/>
    <div th:replace="default-style::contact-details"/>
</div>
</body>
</html>
