<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="default-style::head('Create account')" />

<body>
<div class="container-fluid">
    <nav th:replace="default-style::menu" />
    <h1>Create account</h1>
    <ul>
        <li th:each="validationCode:${validationCodes}">
            <span th:text="${validationCode}"></span>
        </li>
    </ul>
    <form action="#" th:action="@{/account/write}" th:object="${account}" method="post">
        <div class="form-group">
            <label for="username">Email address*:</label>
            <input th:field="*{username}" type="email" class="form-control" id="username"/>
        </div>
        <div class="form-group">
            <label for="password">Password*:</label>
            <input th:field="*{password}" type="password" class="form-control" id="password"/>
        </div>
        <div class="form-group">
            <label for="passwordCheck">Retype password*:</label>
            <input th:field="*{passwordCheck}" type="password" class="form-control" id="passwordCheck"/>
        </div>
        <button type="submit" class="btn btn-default">Next</button>
    </form>
</div>
</body>
</html>
