<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="default-style::head('Edit person')" />
<body>
<div class="container-fluid">
    <nav th:replace="default-style::menu" />
    <h1>Edit person</h1>
    <p th:if="${applicationValidations}" class="bg-danger">Attention.</p>
    <p th:if="${formSuccess}" class="bg-success">Saved.</p>
    <ul>
        <li th:each="applicationValidation:${applicationValidations}">
            <span th:text="#{${applicationValidation}}"></span>
        </li>
    </ul>
    <form action="#" th:action="${newUser} ? @{/person/create} : @{/person/replace}" method="post"
          th:object="${person}">
        <div class="form-group">
            <label for="username">Username:</label>
            <input th:field="*{username}" type="email" class="form-control" id="username" th:readonly="${!newUser}"/>
        </div>
        <div class="form-group">
            <label for="firstName">First name:</label>
            <input th:field="*{firstName}" type="text" class="form-control" id="firstName"/>
        </div>
        <div class="form-group">
            <label for="lastName">Last name:</label>
            <input th:field="*{lastName}" type="text" class="form-control" id="lastName"/>
        </div>
        <div class="form-group">
            <label for="emailAddress">e-mail address:</label>
            <input th:field="*{emailAddress}" type="text" class="form-control" id="emailAddress"/>
        </div>
        <div class="form-group">
            <label for="organisationShortname">Organisation shortname:</label>
            <input th:field="*{organisationShortname}" type="text" class="form-control" id="organisationShortname"/>
        </div>
        <div class="form-group">
            <label for="organisationName">Organisation name:</label>
            <input th:field="*{organisationName}" type="text" class="form-control" id="organisationName"/>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <a th:if="${!newUser}" th:href="@{/person/delete/(username=${person.username})}">Delete this person</a>
</div>
</body>

</html>
