<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Edit person</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">
    <h1>Edit person</h1>
    <ul>
        <li th:each="validation:${validations}">
            <span th:text="${validation}"></span>
        </li>
    </ul>
    <a th:href="@{/persons}">Persons overview</a>
    <form action="#" th:action="${newUser} ? @{/person/create} : @{/person/replace}" method="post"
          th:object="${person}">
        <div class="form-group">
            <label for="username">Username:</label>
            <input th:if="${newUser}" th:field="*{username}" type="email" class="form-control" id="username"/>
            <input th:if="${!newUser}" th:field="*{username}" type="email" class="form-control" id="username"
                   readonly="readonly"/>
        </div>
        <div class="form-group">
            <label for="firstName">First name:</label>
            <input th:field="*{firstName}" type="text" class="form-control" id="firstName"/>
        </div>
        <div class="form-group">
            <label for="lastName">Last name:</label>
            <input th:field="*{lastName}" type="text" class="form-control" id="lastName"/>
        </div>
        <div class="form-group">
            <label for="emailAddress">Email address:</label>
            <input th:field="*{emailAddress}" type="text" class="form-control" id="emailAddress"/>
        </div>
        <div class="form-group">
            <label for="organisationShortname">Organisation shortname:</label>
            <input th:field="*{organisationShortname}" type="text" class="form-control" id="organisationShortname"/>
        </div>
        <div class="form-group">
            <label for="organisationName">Organisation name:</label>
            <input th:field="*{organisationName}" type="text" class="form-control" id="organisationName"/>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <a th:if="${!newUser}" th:href="@{/person/delete/(username=${person.username})}">Delete this person</a>
</div>
</body>

</html>
