<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="default-style::head('Manage persons')" />

<body>
<div class="container-fluid">
    <nav th:replace="default-style::menu" />
    <h1>Manage persons</h1>
    <ul>
        <li th:each="person,iterationStatus : ${personList}">
            <a th:href="@{/person/details/(username=${person.username})}">
                <span th:text="${person.username}"></span>
                <span th:text="${person.password}"></span>
            </a>
        </li>
    </ul>

    <a th:href="@{/person/details}">Create new</a>
</div>
</body>
</html>
